.nav {
    display: flex;
}
.nav__button {
    border: 2px solid blue;
    border-radius: 1rem;
    color: blue;
    padding: 1rem;
}

.nav__button:hover {
    cursor: pointer;
}

.container--blue {
    background: blue;
}

article[data-article-id='asdfg'] {
    background: #ff666d;
}

#modal.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

img {
    cursor: pointer;
    border: 3px solid #5a7880;
    margin: 5px;
    padding: 5px;
    height: 150px;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal img {
    max-height: 100%;
    max-width: 100%;
}

#images img {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-prev {
    animation: slide-from-left 0.5s;
}

@keyframes slide-from-left {
    from {
        margin-left: -200%;
    }
    to {
        margin-left: 0;
    }
}

.animate-next {
    animation: slide-from-right 0.5s;
}

@keyframes slide-from-right {
    from {
        margin-left: 200%;
    }
    to {
        margin-left: 0;
    }
}
